:root {
    --Lroze: #fccbbb;
    --Droze: #e37957;
    --Lbruin: #f5b25f;
    --Lgeel: #e9c96b;
}

body {
    background-color: var(--Lroze);
    font: 13px Helvetica, Arial;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#messageForm {
    position: fixed; 
    background: var(--Droze); 
    padding: 3px; 
    /* bottom: 30%;  */
    bottom: 5em; 
    width: 80%;
    /* margin-right: 1em; */
    border-radius: 5px;
}

#messageForm > input {
    width: 31%;
    margin: 0em;
}

form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

form button { 
    width: 9%; 
    background: var(--Lbruin); 
    border: none; 
    padding: 10px; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
    margin: 0em 1em 0.5em 1em;
    border-radius: 5px;
}

#messages li.serverMSG { 
    border: 5px solid var(--Droze);
    background: var(--Droze);
}

#canvasContainer { 
    margin: 2em auto; 
    display: block; 
    height: 25rem; 
    width: 25rem; 
    overflow: hidden; 
    box-shadow: 0 0 5px 0 var(--Droze);
}

#chatSection {
    /* background-color: white; */
    /* border-style: solid;
    border-width: 3px; */
    /* border-color: blue; */
    /* height: 100%; */
    margin-top: 2em;
    padding: 1em;
    /* margin-right: -1em; */
}

canvas {
    border: 1px solid var(--Droze);
    background-color: white;
}

.locked {
    display: none;
}

body > form {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    padding: 10em;
    background-color: var(--Droze);
}

#gameMode > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    color: var(--Lgeel);
    padding-top: 5em;
}

#gameMode > button {
    text-align: center;
    font-size: 1.5em;
    color: black;
    background-color: var(--Lgeel);

    padding: 0.5em 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
}

#gameMode > button:hover {
    background-color: var(--Lbruin);
}

#gameMode {
    background-color: var(--Droze);
    margin: auto;
    width: 100%;
    text-align: center;
}

#usernameForm > h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2em;
    color: var(--Lgeel);
}

#usernameForm > div  {
    display: block;
    margin: auto;
    width: 35em;
}

#usernameForm > div > input {
    width: 30em;
}

#usernameForm > div > button {
    width: 10em;
}

#drawRole {
    margin: 1em;
}

#drawRole > h2 {
    padding: 0.5em;
    background-color: var(--Droze);
    color: white;
    border-radius: 5px;
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    margin: 1em;
    width: 80%;
    display: block;
}

#roundEnd {
    text-align: center;
}

#roundEnd img {
    margin: 1em auto;
    /* max-width: 80%; */
    width: 20em;
    display: block;
}

#informationTextAboutRound {
    padding: 1em;
    background-color: var(--Droze);
    border-radius: 5px;
    width: 50em;
    margin: 1em auto;
    /* color: var(--Lroze); */
}

#informationTextAboutRound > h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--Lgeel);
}

#scoreBoard h2 { 
    font-size: 1.2em;
    text-align: center;
    padding: 5px 10px; 
    margin: 0em 1em 0.5em 1em;
    border-radius: 5px;
    border: 5px solid var(--Droze);
    background-color: var(--Droze);
}

#scoreBoard p { 
    padding: 5px 10px; 
    margin: 0em 1em 0.5em 1em;
    border-radius: 5px;
    border: 5px solid var(--Lbruin);
    background-color: var(--Lbruin);
}

#quessRole > article {
    padding: 5px 10px; 
    margin: 2em 1em 0.5em 1em;
    border-radius: 5px;
    border: 5px solid var(--Droze);
    background-color: var(--Droze);
}